---
const SvgAll = await Astro.glob('./svg/*.astro')

---
<div class="relative w-full h-80 flex justify-center items-center gap-8">
  {SvgAll.map(svg => (
    <div class="[&>svg]:w-24 [&>svg]:h-24 [&>span]:uppercase font-bold italic text-center">
      <svg.default />
    </div>
  ))}
</div>

<!-- animate-[bannerSkills_80s_linear_infinite] -->