
<a class="relative bg-gradient-to-r from-[#232123] to-[#BEBEBE] rounded-md pointer-events-auto before:absolute before:content-['Contact'] before:inset-[1px] before:bg-white before:rounded-md before:flex before:items-center before:justify-center before:font-bold before:text-gray-900 before:uppercase before:font-Hind_Guntur before:text-long"
href="#"></a>