<a class="relative animate-jump-in animate-duration-1000 animate-delay-[2500ms] overflow-hidden rounded-lg pointer-events-auto transition ease-in-out duration-500 before:absolute before:content-['View_Proyects'] before:inset-[1px] before:bg-white before:transition-colors before:duration-300 before:rounded-lg before:flex before:items-center before:justify-center before:font-bold before:text-red-600 before:uppercase before:font-Hind_Guntur before:text-long before:z-[2] after:content-[''] after:absolute after:top-0 after:left-0 after:w-full
after:h-[50%] after:bg-red-600 after:animate-[btnViewProyect_4s_linear_infinite] hover:bg-red-600 dark:before:text-black dark:before:bg-gradient-to-l dark:before:from-[#290102]
dark:before:via-[#A50002] dark:before:to-[#FF030B] dark:after:bg-transparent dark:hover:bg-[#b10303] dark:hover:shadow-sm dark:hover:shadow-[#d70000]"
href="#"></a>
<!-- after:animate-[btnViewProyect_4s_linear_infinite] hover:bg-red-600 -->