---
import ContainerLuna from "./ContainerLuna.astro";

---

<div id="earth" class="absolute -right-[15%] -bottom-[35%] w-[1000px] h-[1000px] rounded-full bg-[radial-gradient(#efefef,rgba(239,239,239,.7)),url(/jupiter.webp)] bg-cover bg-repeat-x -rotate-45 animate-[earth_5s_linear_infinite] dark:bg-[radial-gradient(#000,rgba(0,0,0,.97)),url(/jupiter.webp)] shadow-[inset_0px_-4px_23px_6px_#898989,0px_0px_200px_#dcdcdc,0px_0px_70px_#898989,0px_0px_30px_#444344] dark:shadow-[inset_0px_-4px_23px_6px_#C9040C,0_2px_200px_#FF030B,0_2px_70px_#FA4003,0_2px_30px_#F95E04] max-[1536px]:-bottom-[50%] max-[1536px]:w-[900px] max-[1536px]:h-[900px] max-[1456px]:-bottom-[45%] max-[1279px]:hidden">
  <ContainerLuna/>
</div>

<style>
  #earth{
    transform-style: preserve-3d;
  }

</style>