---
import ContactEarth from "./ContactEarth.astro";
---

<div id="contenedor" class="relative w-full min-h-screen overflow-hidden">
  <slot/>
  <ContactEarth/>
</div>

<style>
#contenedor{
  transform-style: preserve-3d;
}

</style>