---
import CardProject from "../react/CardProject";

---

<section id="projects" class="relative w-full">
  <div class='flex flex-wrap w-full h-full justify-center gap-5 px-40 py-5'>
    <CardProject url={'/img/cloneInstagram.webp'} urlGithub="https://github.com/Crisops/Clone-Instagram" client:visible/>
    <CardProject url={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
    <CardProject url={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
    <CardProject url={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
  </div>
</section>