---
import BannerSkills from "./BannerSkills.astro";

---

<section id="skills" class="relative w-full h-full flex flex-col justify-center items-center overflow-hidden bg-white dark:bg-[#0F0101]">
  <div class="mt-10">
    <h2 class="uppercase font-Crimson_Pro font-extrabold text-5xl text-zinc-900 dark:text-zinc-100">Habilidades</h2>
  </div>
  <BannerSkills/>
</section>