---
import ContactShoting from "../react/ContactShoting";
import ContactStar from "../react/ContactStar";
import ContactPlanet from './ContactPlanet.astro'
import ContactEarth from "./ContactEarth.astro";
import Contact from '../react/Contact'
import ContactFormBorder from './ContactFormBorder.astro'
import SocialNetworks from "../react/SocialNetworks";
---

<section id="contact" class="relative h-screen overflow-hidden bg-white dark:bg-[#0F0101]">
  <Contact client:visible>
    <ContactFormBorder/>
  </Contact>
  <ContactPlanet>
    <ContactEarth/>
  </ContactPlanet>
  <SocialNetworks client:visible/>
  <div class="hidden max-xl:block absolute left-0 bottom-0 w-full h-20 bg-gradient-to-b from-white to-neutral-900 blur-3xl dark:bg-gradient-to-b dark:from-[#0F0101] dark:to-[#FF030B] ">
  </div>
</section>

