---
import GridBgHome from "../react/GridBgHome";
import BannerSkills from "./BannerSkills.astro";

---

<section id="skills" class="relative w-full h-full flex flex-col justify-center items-center overflow-hidden bg-white dark:bg-[#0F0101]">
  <GridBgHome client:only="react"/>
  <div class="mt-10 z-10">
    <h2 class="uppercase font-Crimson_Pro font-extrabold max-sm:text-4xl text-5xl transition duration-300 ease-linear text-zinc-900 dark:text-zinc-100">Habilidades</h2>
  </div>
  <BannerSkills/>
</section>