---
import ContactShoting from "../react/ContactShoting";
import ContactStar from "../react/ContactStar";
import ContactPlanet from './ContactPlanet.astro'

---

<section id="contact" class="relative w-full h-screen overflow-hidden">
  <ContactPlanet>
    <ContactStar client:visible/>
    <ContactShoting client:visible/>
  </ContactPlanet>
</section>