---
import CardProject from "../react/CardsProject";

---

<section id="projects" class="relative w-full h-full">
  <div class='flex flex-wrap w-full h-full justify-center gap-10 px-40'>
    <CardProject urlImg={'/img/cloneInstagram.webp'} urlGithub="https://github.com/Crisops/Clone-Instagram" client:visible/>
    <CardProject urlImg={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
    <CardProject urlImg={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
    <CardProject urlImg={'/img/cloneInstagram.webp'} urlGithub="" client:visible/>
  </div>
</section>