<svg width="534" height="670" viewBox="0 0 534 670" fill="none">
  <path d="M122 65C132.317 16.9873 143.978 0.940458 180 0.499966H352C383.127 -0.451508 395.034 10.542 406 51.5L520 408.5C542.446 468.338 538.027 494.418 503 529L303.5 659.5C268.5 675 249.962 672.411 221 656L100 574.5C58 547.5 28.5 531.5 13.5 509C-1.50003 486.5 -3.52748 465 5.99999 432C15.5274 399 122 65 122 65Z" fill="#FF5D01"/>
  <path d="M196 384C148.53 393.122 123.069 401.69 79.5 422.5L182 87C190.368 70.3199 197.088 65.1593 212.5 63.0001H305.5C330.529 62.6428 340.338 66.8376 349.5 83.0001L454 423C409.27 400.745 383.774 392.205 337.5 384L274.5 170.5C270.5 162 262.805 161.863 258.5 170.5L196 384Z" fill="white"/>
  <path d="M197 526C165.5 487.5 170.5 451 177 428.5C195 459 294.5 480.5 354.5 438.5C359.91 455.732 359.936 465.57 354.5 483.5C341.5 520.5 312.5 523.5 288 549C277.795 565.828 277.058 576.45 285 597.5C257 582.5 245.505 563.284 246.5 528C245 489 202 493.5 197 525.188V526Z" fill="white"/>
  </svg>
  
  
<span class="text-[#F16529]">Astro</span>