---
import Header from '../components/astro/Header.astro';
import SectionHome from '../components/astro/SectionHome.astro';
import GridBgHome from '../components/react/GridBgHome';
import Layout from '../layouts/Layout.astro';	
import MenuNavbar from '../components/react/MenuNavbar'
// import SectionAbout from '../components/react/SectionAbout.jsx';
import SectionAbout from '../components/react/SectionAbout';
---

<Layout title="Crisops | Home">
	<main class="relative w-full min-h-screen overflow-hidden">
		<MenuNavbar client:only="react"/>
		<GridBgHome client:only="react">
			<Header/>
		</GridBgHome>
		<SectionHome/>
		<SectionAbout />
	</main>
</Layout>
