---
import SectionInfoMe from '../components/react/SectionInfoMe.jsx';
import Layout from '../layouts/Layout.astro';	
import MenuNavbar from '../components/react/MenuNavbar'
import SectionSkills from '../components/astro/SectionSkills.astro';
import SectionProjects from '../components/react/SectionProjects.jsx';
import SectionContact from '../components/astro/SectionContact.astro';
import ButtonContact from '../components/astro/ButtonContact.astro';
import ButtonViewProyects from '../components/astro/ButtonViewProyects.astro';

---

<Layout title="Crisops">
	<main class="relative w-full h-full overflow-hidden">
		<MenuNavbar client:only="react"/>
		<SectionInfoMe client:only="react">
			<div class="flex justify-center gap-24 mt-4 max-[600px]:gap-10 [&>a]:py-2 [&>a]:px-6 [&>a]:w-36 [&>a]:h-12 max-[600px]:[&>a]:w-32 max-[600px]:[&>a]:h-11">
				<ButtonContact/>
				<ButtonViewProyects/>
			</div>
		</SectionInfoMe>	
		<SectionSkills/>
		<SectionProjects client:visible/>
		<SectionContact/>
	</main> 
</Layout>


