---
import Layout from '../layouts/Layout.astro';	
---

<Layout title="Crisops | Home">
	<main>
		<h1 class="text-black text-5xl font-Crimson_Pro font-bold">Encabezado h1</h1>
		<h2 class="text-black text-xl font-Crimson_Pro font-bold">Ttile proyect</h2>
		<h3 class="text-black text-lg font-Hind_Vadodara">Encabezado h3</h3>
		<p class="text-black text-sm font-Hind_Guntur">Frase</p>
	</main>
</Layout>
